<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Generic - Server Error</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" th:href="@{/assets/css/main.css}" />
    <noscript>
        <link rel="stylesheet" th:href="@{/assets/css/noscript.css}" />
    </noscript>
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/favicon_io/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/favicon_io/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/favicon_io/favicon-16x16.png}">
    <link rel="manifest" th:href="@{/favicon_io/site.webmanifest}">
</head>
<body>
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <div class="inner">

            <!-- Logo -->
            <a href="index.html" class="logo">
                <span class="symbol"><img src="/images/favicon_io/favicon.ico" alt="" th:src="@{/favicon_io/favicon.ico}"/></span><span
                    class="title">GenericShop</span>
            </a>
            <!-- Nav -->
            <nav>
                <ul>
                    <li>
                        <div>
                            <input type="text" name="search" id="searchbar" placeholder="Search for any item">
                        </div>
                    </li>
                    <li>
                        <select name="categories" id="searchcategory">
                            <option value="itemname">Item Name</option>
                            <option value="category">Category</option>
                            <option value="users">Users</option>
                        </select>
                    </li>
                    <li><a href="#">User</a></li>
                    <li><a href="/webpages/profile/cart.html">Cart</a></li>
                    <li><a href="#menu">Menu</a></li>
                </ul>
            </nav>

        </div>
    </header>

    <!-- Menu -->
    <nav id="menu">
        <h2>Menu</h2>
        <ul>
            <li><a href="/webpages/profile/wishlist.html">Wishlist</a></li>
            <li><a href="/webpages/profile/purchase-history.html">Purchase History</a></li>
            <li><a href="/webpages/profile/your-items.html">Your Items</a></li>
        </ul>
    </nav>

    <!-- Main -->
    <div id="main">
        <div class="inner">
            <h1>Something appears to have gone wrong with our servers.</h1>

            <!-- Text -->
            <section>
                <h2>Our engineers are at work to fix it!</h2>
            </section>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/browser.min.js"></script>
<script src="/assets/js/breakpoints.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>

</body>
</html>